$blue: 4287f5;

body {
  font-family: Heebo;
}
ul > li {
  list-style: none;
  padding: 0.25rem;
}

.todo::before {
  content: "[   ]";
}

.done::before {
  content: "[X]";
}

a {
  color: $blue;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
  width: 300px;
  text-align: center;
}
